@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?mo7pfp');
  src: url('icomoon.eot?mo7pfp#iefix') format('embedded-opentype'),
    url('icomoon.ttf?mo7pfp') format('truetype'), url('icomoon.woff?mo7pfp') format('woff'),
    url('icomoon.svg?mo7pfp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gs-user-1::before {
  content: '\e903';
}
.icon-gs-cart::before {
  content: '\e900';
}
.icon-gs-filled-user-1::before {
  content: '\e904';
}
.icon-gs-search::before {
  content: '\e901';
}
.icon-gs-logout::before {
  content: '\e902';
}
.icon-gs-filled-star::before {
  content: '\f005';
}
.icon-gs-star::before {
  content: '\f006';
}
.icon-gs-filled-user-2::before {
  content: '\f2be';
}
.icon-gs-user-2::before {
  content: '\f2c0';
}
