$col-secondary: #6c757d;
$col-white: white;
$col-black: black;
$col-grey: #363535;
$col-light-grey: #ececec;
$col-dark-grey: #1e1e1e;
$col-dark-transparent: rgba(10, 10, 10, 0.6);
$col-genre-blue: #5197f3;
$col-genre-blue-border: #7fb6ff;

$root-size: 16px;
