<div class="container main-list bg-secondary h-100">
  <div class="row p-3">
    <div class="col d-flex align-items-center">
      <div class="float-left">
        <button type="button" class="btn btn-secondary btn-sm bg-grey">+ Add genre</button>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <div class="float-right">
        <div class="search-input bg-grey">
          <img src="/assets/search.svg" height="16" width="16" />
          <input type="text" class="text-white" />
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-secondary">
    <div class="row my-2">
      <ng-container *ngFor="let game of games | async; index as i">
        <ng-container
          *ngTemplateOutlet="i % 4 === 0 ? wideDice : normalDice; context: { $implicit: game }"
        >
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #wideDice let-game>
  <div class="col mb-5 col-sm-6">
    <div
      class="d-flex align-items-end dice"
      [ngStyle]="{ 'background-image': 'url(\'' + game.pictureWideUri + '\')' }"
    >
      <ng-container *ngTemplateOutlet="priceTag; context: { game: game, isWide: true }">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #normalDice let-game>
  <div class="col mb-5 col-sm-3">
    <div
      class="d-flex align-items-end dice"
      [ngStyle]="{ 'background-image': 'url(\'' + game.pictureUri + '\')' }"
    >
      <ng-container *ngTemplateOutlet="priceTag; context: { game: game, isWide: false }">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #priceTag let-game="game" let-isWide="isWide">
  <div class="col px-0 price-tag" [ngClass]="isWide ? 'well' : 'bg-secondary'">
    <div class="row" [ngClass]="{ 'px-3': isWide }">
      <div class="col">
        <div class="font-weight-light price">${{ game.price }}</div>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <button class="btn btn-success btn-sm px-4 float-right font-weight-bold">BUY</button>
      </div>
      <div class="w-100"></div>
      <div class="col text-truncate font-weight-light genres">{{ showGenres(game.genres) }}</div>
      <div class="w-100"></div>
      <div class="col text-truncate font-weight-bold description">{{ game.name }}</div>
    </div>
  </div>
</ng-template>
