.main-list {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #1e1e1e;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #1e1e1e;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e2e2e2;
  }
}

.search-input {
  width: 200px;
  span {
    font-size: 20px;
    vertical-align: middle;
  }
  input {
    color: white;
    border: 0;
    background-color: transparent;
  }
  input:focus {
    outline: none;
  }
}

.dice {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 310px;
}

.price-tag {
  max-height: 90px;
  .price {
    font-size: 2rem;
  }
  .genres,
  .description {
    font-size: 0.9rem;
  }
}
