.search-input {
  width: 200px;
  span {
    font-size: 20px;
    vertical-align: middle;
  }
  input {
    color: white;
    border: 0;
    background-color: transparent;
  }
  input:focus {
    outline: none;
  }
}

.dice {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 310px;
  cursor: pointer;
}

.price-tag {
  max-height: 90px;
  cursor: default;
  .price {
    font-size: 2rem;
  }
  .genres,
  .description {
    font-size: 0.9rem;
  }
}

.filter-row {
  button.btn-sm,
  .search-input input {
    font-size: 0.75rem !important;
  }
}

.genre-filter-menu {
  width: 300px;
}

:host ::ng-deep .popover {
  max-width: 100%;
}
