:host {
  font-size: 12px;
}

.logo-button {
  color: white;
  text-decoration: none;
}

.logo-icon {
  border: 2px solid white;
  border-radius: 50%;
  margin: 4px;
  img {
    padding: 4px;
    filter: invert(1);
  }
}
