<nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-0">
  <div class="container p-2">
    <a class="navbar-brand d-table" routerLink="/games">
      <div class="d-table-cell logo-icon my-auto mx-auto text-center"
        ><span class="icon-gs-filled-star"></span
      ></div>
      <div class="d-table-cell pl-1"><b>Game store</b></div>
    </a>
    <ul class="navbar-nav pt-1">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/games">Games <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/community">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/support">Support</a>
      </li>
    </ul>
    <div class="col">
      <ul class="nav justify-content-end user-menu">
        <ng-container
          *ngTemplateOutlet="(currentUser$ | async) ? logoutTemplate : signInTemplate"
        ></ng-container>
      </ul>
    </div>
  </div>
</nav>

<ng-template #signInTemplate>
  <ng-container *ngTemplateOutlet="shoppingCart"></ng-container>
  <li class="nav-item"><a class="nav-link" (click)="openLoginModal()">Sign in</a></li>
</ng-template>

<ng-template #logoutTemplate>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile">
      <span class="icon-gs-filled-user-2"></span>
      {{ (currentUser$ | async).userName }}
    </a></li
  >
  <ng-container *ngTemplateOutlet="shoppingCart"></ng-container>
  <li class="nav-item"
    ><a class="nav-link" (click)="logout()"><span class="icon-gs-logout"></span></a
  ></li>
</ng-template>

<ng-template #shoppingCart>
  <li *ngIf="(shoppingCartCapacity$ | async) > 0" class="nav-item">
    <a class="nav-link" href="#" routerLink="/shopping-cart">
      <span class="icon-gs-cart"></span>
      {{ shoppingCartCapacity$ | async }}
    </a>
  </li>
</ng-template>
