:host {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.logo-title {
  font-size: 20px;
  font-weight: 800;
}

.logo-icon {
  border: 3px solid white;
  border-radius: 50%;
  margin: 4px;
  img {
    padding: 3px 5px 5px 5px;
    filter: invert(1);
  }
}
