<div class="modal-body bg-light-grey-gs text-dark">
  <h3 class="text-center py-3">Please login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-3">
    <div class="form-group">
      <label for="username" class="mb-0">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && frm.username.errors }"
      />
      <div *ngIf="submitted && frm.username.errors" class="invalid-feedback">
        <div *ngIf="frm.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="mb-0">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && frm.password.errors }"
      />
      <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
        <div *ngIf="frm.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="rememberMe" />
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button [disabled]="loading" class="btn btn-success" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign in
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    </div>
  </form>
</div>
