<div class="col-md-6 offset-md-3 mt-5">
  <div class="card bg-light-grey-gs text-dark">
    <h4 class="card-header">Please login</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && frm.username.errors }"
          />
          <div *ngIf="submitted && frm.username.errors" class="invalid-feedback">
            <div *ngIf="frm.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && frm.password.errors }"
          />
          <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
            <div *ngIf="frm.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading" class="btn btn-success" (click)="onSubmit()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Sign in
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
