@import '_variables';

@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('assets/fonts/icomoon.scss');

.gs-body {
  font-family: 'Open Sans', sans-serif;
  font-size: $root-size;
  background-color: $col-black;
  color: $col-white;
}

.bg-black {
  background-color: $col-black;
}

.bg-dark-gs {
  background-color: $col-dark-grey;
}

.bg-light-grey-gs {
  background-color: $col-light-grey !important;
}

.bg-grey {
  background-color: $col-grey !important;
}

.bg-dark {
  background-color: $col-black !important;
}

.bg-secondary {
  background-color: $col-dark-grey !important;
}

.well {
  background-color: $col-dark-transparent;
}

.btn-sm-gs {
  padding: 0.15rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.75rem;
}

.btn-genre {
  font-weight: lighter;
  background-color: $col-genre-blue;
}

.modal-content {
  border: 0;
  background-color: transparent !important;
}

.modal-padding-top {
  padding-top: 180px;
}

.scroll-container {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #1e1e1e;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #1e1e1e;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e2e2e2;
  }
}

hr {
  border-bottom: 1px solid $col-secondary;
}
