@import '~bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.gs-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-dark-gs {
  background-color: #1e1e1e;
}

.well {
  background-color: rgba(10, 10, 10, 0.6);
}

.bg-grey {
  background-color: #363535 !important;
}

.bg-dark {
  background-color: black !important;
}

.bg-secondary {
  background-color: #1e1e1e !important;
}
